  .header{
      text-align: center;
       color:grey;
       font-size:2rem;
       height:5rem;
       width:100%;
       display:flex;
       align-items:center;
       justify-content:center;
       background-color:#171717;
    }